@keyframes generated-1303977f-1066-4876-a76d-dadfe6d2bde4 {
    0% { background: linear-gradient(114deg, #9400ff 0%, #27005d 100%); } 
    1% { background: linear-gradient(114deg, #9300ff 0%, #27005d 100%); } 
    2% { background: linear-gradient(114deg, #9300ff 0%, #27005d 100%); } 
    3% { background: linear-gradient(114deg, #9200ff 0%, #27005d 100%); } 
    4% { background: linear-gradient(114deg, #9100ff 0%, #27005d 100%); } 
    5% { background: linear-gradient(114deg, #9000ff 0%, #27005d 100%); } 
    6% { background: linear-gradient(114deg, #9000ff 0%, #27005d 100%); } 
    7% { background: linear-gradient(114deg, #8f00ff 0%, #27005d 100%); } 
    8% { background: linear-gradient(114deg, #8e00ff 0%, #27005d 100%); } 
    9% { background: linear-gradient(114deg, #8d00ff 0%, #27005d 100%); } 
    10% { background: linear-gradient(114deg, #8d00ff 0%, #27005d 100%); } 
    11% { background: linear-gradient(114deg, #8c00ff 0%, #27005d 100%); } 
    12% { background: linear-gradient(114deg, #8b00ff 0%, #27005d 100%); } 
    13% { background: linear-gradient(114deg, #8a00ff 0%, #27005d 100%); } 
    14% { background: linear-gradient(114deg, #8a00ff 0%, #27005d 100%); } 
    15% { background: linear-gradient(114deg, #8900ff 0%, #27005d 100%); } 
    16% { background: linear-gradient(114deg, #8800ff 0%, #27005d 100%); } 
    17% { background: linear-gradient(114deg, #8700ff 0%, #27005d 100%); } 
    18% { background: linear-gradient(114deg, #8700ff 0%, #27005d 100%); } 
    19% { background: linear-gradient(114deg, #8600ff 0%, #27005d 100%); } 
    20% { background: linear-gradient(114deg, #8500ff 0%, #27005d 100%); } 
    21% { background: linear-gradient(114deg, #8400ff 0%, #27005d 100%); } 
    22% { background: linear-gradient(114deg, #8400ff 0%, #27005d 100%); } 
    23% { background: linear-gradient(114deg, #8300ff 0%, #27005d 100%); } 
    24% { background: linear-gradient(114deg, #8200ff 0%, #27005d 100%); } 
    25% { background: linear-gradient(114deg, #8200ff 0%, #27005d 100%); } 
    26% { background: linear-gradient(114deg, #8100ff 0%, #27005d 100%); } 
    27% { background: linear-gradient(114deg, #8000ff 0%, #27005d 100%); } 
    28% { background: linear-gradient(114deg, #7f00ff 0%, #27005d 100%); } 
    29% { background: linear-gradient(114deg, #7f00ff 0%, #27005d 100%); } 
    30% { background: linear-gradient(114deg, #7e00ff 0%, #27005d 100%); } 
    31% { background: linear-gradient(114deg, #7d00ff 0%, #27005d 100%); } 
    32% { background: linear-gradient(114deg, #7c00ff 0%, #27005d 100%); } 
    33% { background: linear-gradient(114deg, #7c00ff 0%, #27005d 100%); } 
    34% { background: linear-gradient(114deg, #7b00ff 0%, #27005d 100%); } 
    35% { background: linear-gradient(114deg, #7a00ff 0%, #27005d 100%); } 
    36% { background: linear-gradient(114deg, #7900ff 0%, #27005d 100%); } 
    37% { background: linear-gradient(114deg, #7900ff 0%, #27005d 100%); } 
    38% { background: linear-gradient(114deg, #7800ff 0%, #27005d 100%); } 
    39% { background: linear-gradient(114deg, #7700ff 0%, #27005d 100%); } 
    40% { background: linear-gradient(114deg, #7600ff 0%, #27005d 100%); } 
    41% { background: linear-gradient(114deg, #7600ff 0%, #27005d 100%); } 
    42% { background: linear-gradient(114deg, #7500ff 0%, #27005d 100%); } 
    43% { background: linear-gradient(114deg, #7400ff 0%, #27005d 100%); } 
    44% { background: linear-gradient(114deg, #7300ff 0%, #27005d 100%); } 
    45% { background: linear-gradient(114deg, #7300ff 0%, #27005d 100%); } 
    46% { background: linear-gradient(114deg, #7200ff 0%, #27005d 100%); } 
    47% { background: linear-gradient(114deg, #7100ff 0%, #27005d 100%); } 
    48% { background: linear-gradient(114deg, #7000ff 0%, #27005d 100%); } 
    49% { background: linear-gradient(114deg, #7000ff 0%, #27005d 100%); } 
    50% { background: linear-gradient(114deg, #6f00ff 0%, #27005d 100%); } 
    51% { background: linear-gradient(114deg, #7000ff 0%, #27005d 100%); } 
    52% { background: linear-gradient(114deg, #7000ff 0%, #27005d 100%); } 
    53% { background: linear-gradient(114deg, #7100ff 0%, #27005d 100%); } 
    54% { background: linear-gradient(114deg, #7200ff 0%, #27005d 100%); } 
    55% { background: linear-gradient(114deg, #7300ff 0%, #27005d 100%); } 
    56% { background: linear-gradient(114deg, #7300ff 0%, #27005d 100%); } 
    57% { background: linear-gradient(114deg, #7400ff 0%, #27005d 100%); } 
    58% { background: linear-gradient(114deg, #7500ff 0%, #27005d 100%); } 
    59% { background: linear-gradient(114deg, #7600ff 0%, #27005d 100%); } 
    60% { background: linear-gradient(114deg, #7600ff 0%, #27005d 100%); } 
    61% { background: linear-gradient(114deg, #7700ff 0%, #27005d 100%); } 
    62% { background: linear-gradient(114deg, #7800ff 0%, #27005d 100%); } 
    63% { background: linear-gradient(114deg, #7900ff 0%, #27005d 100%); } 
    64% { background: linear-gradient(114deg, #7900ff 0%, #27005d 100%); } 
    65% { background: linear-gradient(114deg, #7a00ff 0%, #27005d 100%); } 
    66% { background: linear-gradient(114deg, #7b00ff 0%, #27005d 100%); } 
    67% { background: linear-gradient(114deg, #7c00ff 0%, #27005d 100%); } 
    68% { background: linear-gradient(114deg, #7c00ff 0%, #27005d 100%); } 
    69% { background: linear-gradient(114deg, #7d00ff 0%, #27005d 100%); } 
    70% { background: linear-gradient(114deg, #7e00ff 0%, #27005d 100%); } 
    71% { background: linear-gradient(114deg, #7f00ff 0%, #27005d 100%); } 
    72% { background: linear-gradient(114deg, #7f00ff 0%, #27005d 100%); } 
    73% { background: linear-gradient(114deg, #8000ff 0%, #27005d 100%); } 
    74% { background: linear-gradient(114deg, #8100ff 0%, #27005d 100%); } 
    75% { background: linear-gradient(114deg, #8200ff 0%, #27005d 100%); } 
    76% { background: linear-gradient(114deg, #8200ff 0%, #27005d 100%); } 
    77% { background: linear-gradient(114deg, #8300ff 0%, #27005d 100%); } 
    78% { background: linear-gradient(114deg, #8400ff 0%, #27005d 100%); } 
    79% { background: linear-gradient(114deg, #8400ff 0%, #27005d 100%); } 
    80% { background: linear-gradient(114deg, #8500ff 0%, #27005d 100%); } 
    81% { background: linear-gradient(114deg, #8600ff 0%, #27005d 100%); } 
    82% { background: linear-gradient(114deg, #8700ff 0%, #27005d 100%); } 
    83% { background: linear-gradient(114deg, #8700ff 0%, #27005d 100%); } 
    84% { background: linear-gradient(114deg, #8800ff 0%, #27005d 100%); } 
    85% { background: linear-gradient(114deg, #8900ff 0%, #27005d 100%); } 
    86% { background: linear-gradient(114deg, #8a00ff 0%, #27005d 100%); } 
    87% { background: linear-gradient(114deg, #8a00ff 0%, #27005d 100%); } 
    88% { background: linear-gradient(114deg, #8b00ff 0%, #27005d 100%); } 
    89% { background: linear-gradient(114deg, #8c00ff 0%, #27005d 100%); } 
    90% { background: linear-gradient(114deg, #8d00ff 0%, #27005d 100%); } 
    91% { background: linear-gradient(114deg, #8d00ff 0%, #27005d 100%); } 
    92% { background: linear-gradient(114deg, #8e00ff 0%, #27005d 100%); } 
    93% { background: linear-gradient(114deg, #8f00ff 0%, #27005d 100%); } 
    94% { background: linear-gradient(114deg, #9000ff 0%, #27005d 100%); } 
    95% { background: linear-gradient(114deg, #9000ff 0%, #27005d 100%); } 
    96% { background: linear-gradient(114deg, #9100ff 0%, #27005d 100%); } 
    97% { background: linear-gradient(114deg, #9200ff 0%, #27005d 100%); } 
    98% { background: linear-gradient(114deg, #9300ff 0%, #27005d 100%); } 
    99% { background: linear-gradient(114deg, #9300ff 0%, #27005d 100%); } 
    100% { background: linear-gradient(114deg, #9400ff 0%, #27005d 100%); } 

}