@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

html {
    background: rgb(111, 0, 255);
    background: linear-gradient(50deg, rgb(111, 0, 255) 0%, rgba(0, 179, 201, 1) 100%);
    overflow: hidden;
}

div#links>a.link {
    font-size: 48px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    cursor: pointer;
    transition: opacity 500ms ease;
    color: #EEEEEE;
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: fit-content;
}

div#links>a.link[data-focus="none"] {
    opacity: 0.6;
}

div#links>a.link[data-focus="yes"] {
    opacity: 1;
}

div#links>a.link[data-focus="no"] {
    opacity: 0.3;
}

div#links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in;
    /* z-index: 2; */
    position: relative;
}

div#links[data-moveleft="yes"] {
    transform: translateX(-15vw);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* this doesnt work on mobile because apparently making mobile browsers is so hard you cant such a simple feature like hiding overflow */
    margin: 0px;
}

h1#mark {
    position: absolute;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 500;
    margin: 0px;
    top: 1vw;
    left: 1vw;
    font-size: 32px;
    color: #EEEEEE;
}

article {
    position: absolute;
    opacity: 0;
    font-family: 'Helvetica', sans-serif;
    color: #EEEEEE;
    transition: transform 500ms ease, opacity 1s ease;
    width: 70vw;
}

article[data-visible="no"] {
    top: 10vw;
    left: 10vw;
    transform: translateX(100%);
}

article[data-visible="yes"] {
    opacity: 1;
    top: 10vw;
    left: 10vw;
    z-index: 20;
}

article>h1 {
    font-size: 48px;
}

article>p {
    font-size: 24px;
}

a {
    color: #EEEEEE;
}

span#back {
    position: absolute;
    top: 5vw;
    left: 10vw;
    color: #EEEEEE;
    font-size: 48px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    cursor: pointer;
    opacity: 0;
    transition: transform 500ms ease, opacity 1s ease;
    z-index: 999;
}

span#back[data-visible="no"] {
    transform: translateX(100%);
}

span#back[data-visible="yes"] {
    opacity: 1;
}

ul {
    font-size: 24px;
}

@media only screen and (max-width: 1340px) {
    /* article {
        width: 95vw;
        padding: 2.5vw;
    } */

    article>h1 {
        font-size: 24px;
    }

    article>p {
        font-size: 16px;
    }

    h1#mark {
        opacity: 0%;
    }

    div#links[data-moveleft="yes"] {
        transform: translateX(-15vw);
        opacity: 0%;
    }
}