/* 
    Colour palette:
    Primary: #27005D
    Secondary: #9400FF
    Tertiary: #AED2FF
    Text: #E4F1FF
*/

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400&display=swap');

html,
body {
    padding: 0px;
    margin: 0px;
    z-index: -20;
}

div#introduction {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

img#background {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: grayscale(0.4);
    z-index: -10;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

h1#title {
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-family: 'Saira', sans-serif;
    margin: 0px;
    padding-top: 5vh;
    text-align: center;
    font-size: 10rem;
    color: #27005DC0;
    user-select: none;
    filter: initial;
}

p#goobgoob {
    font-family: 'Saira', sans-serif;
    color: #E4F1FF;
    text-align: center;
    font-size: 3em;
    filter: initial;
}

div#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button#about-me-btn {
    width: 10vw;
    height: 10vh;
    border-style: solid;
    border-color: #9400FF;
    border-width: 5px;
    color: #E4F1FF;
    background-color: transparent;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    font-size: larger;
    transition:
        color .2s, background-color .2s;
    transition-timing-function: ease-in;
    mix-blend-mode: screen;
    border-radius: 2px;
}



button#about-me-btn:hover {
    background-color: #9400FF;
    color: #000;
    cursor: pointer;
}

div#about-me {
    width: 100vw;
    min-height: 100vh;
    background: rgb(148, 0, 255);
    background: linear-gradient(114deg, var(--grad-colour-one) 0%, var(--grad-colour-two) 100%);
    animation-name: generated-1303977f-1066-4876-a76d-dadfe6d2bde4;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

span#about-me-content {
    width: 100%;
    height: fit-content;
    display: inline-block;

}

div#about-me-gamemaker {
    padding: 3em;
    color: #E4F1FF;
    font-family: 'Saira', sans-serif;
    transition: opacity 500ms;
    transition-timing-function: ease-in;
    padding-top: 0em;
    padding-bottom: 0em;
    width: 40em;
}

div#about-me-gamemaker>h2 {
    font-size: 3em;
}

div#about-me-rust {
    padding: 3em;
    color: #E4F1FF;
    font-family: 'Saira', sans-serif;
    float: right;
    text-align: right;
    width: 40em;
    transition: opacity 500ms;
    transition-timing-function: ease-in;
    padding-top: 0em;
    padding-bottom: 0em;
}

div#about-me-rust>h2 {
    font-size: 3em;
}

div#about-me-photography {
    padding: 3em;
    color: #E4F1FF;
    font-family: 'Saira', sans-serif;
    width: 40em;
    transition: opacity 500ms;
    transition-timing-function: ease-in;
    padding-top: 0em;
    padding-bottom: 0em;
}

div#about-me-photography>h2 {
    font-size: 3em;
}

a {
    color: #E4F1FF;
}

span#layout-fix {
    width: 100vw;
    height: fit-content;
    display: inline-block;
}

div#about-me-gamemaker>img {
    display: inline;
}

div#social-links {
    position: absolute;
    bottom: -100vh;
    float: right;
    z-index: 10;
    padding: 0.5em;
    text-align: right;
    width: calc(100vw - 1em);
    font-family: 'Saira', sans-serif;
    color: #E4F1FF;
}

div#social-links>a {
    font-family: 'Saira', sans-serif;
    color: #E4F1FF;
}